.header {
  margin: 0 auto;
  padding: 45px 0 41px;

  max-width: 880px;
  width: calc(100% - (200px * 2));
  min-width: 642px;

  border-bottom: 1px solid rgba(84, 84, 84, .7);

  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 642px;
    width: calc(100% - (100px * 2))
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 425px;
    width: calc(100% - (50px * 2))
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 28px 0 31.6px 27px;

    width: 100%;
    min-width: 320px;
  }
}
