.form__button-text {
  margin: 0;
  padding: 0;

  height: 18px;

  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .form__button-text {
    font-size: 14px;
    line-height: 17px;
  }
}
