.element__like-button {
  width: 22px;
  height: 19px;
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
  background-image: url("../../../images/like.svg");
  align-self: center;
  cursor: pointer;
  transition: opacity .4s ease;
}

.element__like-button:hover {
  opacity: .5;
}
